<a href="https://colab.research.google.com/github/isaiah1717/Python-practice/blob/main/coding_set_5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#write a function named times_ten
#display the product as a argument
#times 10

In [ ]:
def times_ten(number):
  result = number * 10


  return result

user_inp = int(input('enter a number: '))
user_inp = times_ten(user_inp)
print(user_inp)

enter a number: 4
40

#. Examine the following function header, then write a statement that calls the function passing 12 as an argument.
def show_value(quantity):

In [ ]:
def show_value(quantity):
  print(quantity)

show_value(12)

12

#Programming exercises

#1
#kilometer converter
#miles = kilometers x 0.6214

In [ ]:
def conversion():
  kilometers = int(input('enter a distance in km: '))
  find_miles = kilometers * 0.6214
  print(find_miles)
conversion()

enter a distance in km: 1
0.6214

#17
#prime numbers

In [ ]:
def is_prime(num):
  if num <= 1:
    return False
  for I in range (2,num):
    if num % I == 0:
      return False
  else:
    return True

user_inp = int(input("enter any number: "))
is_prime(user_inp)

enter any number: 3

True

#18
#prime number list

In [ ]:
def is_prime(num):
  if num <= 1:
    return False
  for I in range (2,num):
    if num % I == 0:
      return False
  else:
    return True

user_inp = int(input("enter any number: "))

if is_prime(user_inp):
  print(f'{user_inp} is a prime number. ')
else:
  print(f'{user_inp} is not a prime number. ')
print("Here's a list of prime numbers 1-100: ")
for num in range(1,101):
  if is_prime(num):
    print(num)

enter any number: 7
7 is a prime number.
Here's a list of prime numbers 1-100:
2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

#4
#automobile cost

In [ ]:
def monthly_cost(loan_payment, insurance, gas, oil, tires, maintenance):
  sum = loan_payment + insurance + gas + oil + tires + maintenance

  return sum

def annual_cost(monthly_cost):
  annual_cost = monthly_cost * 12

  return annual_cost

loan_payment = int(input("How much do you pay on your car note?: $ "))
insurance = int(input("How much do you pay for car insurance?: $"))
gas = int(input("How much do you spend in gas per month? $"))
oil = int(input("How much did your oil change cost? $"))
tires = int(input("how much did your tires cost you:? $" ))
maintenance = int(input("how much was maintenance? $"))

user_monthly = monthly_cost(loan_payment, insurance, gas, oil, tires, maintenance)
user_annually = annual_cost(user_monthly)

print(f'${user_monthly} was your monthly autombile cost. ')
print(f'${user_annually} is your annual cost')

How much do you pay on your car note?: $ 1
How much do you pay for car insurance?: $1
How much do you spend in gas per month? $1
How much did your oil change cost? $1
how much did your tires cost you:? $1
how much was maintenance? $1
$6 was your monthly autombile cost.
$72 is your annual cost